<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Om oss</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body>

<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logga-liten-ljus.svg" id="navbarlogo" onclick="location.href='/'">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Clothes/NewItems">Nyinkommet</a></li>
            <li><a href="/Clothes/SummerClothes">Sommarkläder</a></li>
            <li><a href="/Clothes/DiscountItems">Rabatterade varor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hem & inredning<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Home&style/Furniture">Möbler</a></li>
            <li><a href="/Home&style/Aquarium">Akvarium</a></li>
            <li><a href="/Home&style/Paintings">Tavlor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Books/allBooks">Alla böcker</a></li>
            <li><a href="/Books/childrensBooks">Barnböcker</a></li>
            <li><a href="/Books/non-fiction">Facklitteratur</a></li>
            <li><a href="/Books/fiction">Skönlitteratur</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby & Fritid <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Hobby/allHobbies">Allt inom hobby & fritid</a></li>
            <li><a href="/Hobby/hobbiesAndGames">Hobby & Spel</a></li>
            <li><a href="/Hobby/moviesAndMusic">Film & Musik</a></li>
            <li><a href="/Hobby/sport">Sport & Fritid </a></li>
            <li><a href="/Hobby/toys">Leksaker</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vintage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Vintage/1920">1920-1950</a></li>
            <li><a href="/Vintage/1950">1950-1970</a></li>
            <li><a href="/Vintage/1970">1970-2000</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/AboutUs/AboutUs">Vår vision</a></li>
            <li><a href="/AboutUs/contact">Kontakta oss</a></li>
            <li><a href="/AboutUs/faq">Vanliga frågor</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li><span id="cartsum" class="productsummation productcounter">0</span></li>
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a></li>
      </ul>
    </div>
  </div>
</nav>


<div id="test">
</div>

  </div>

<div class="zoom-in-out-box">

  <div class="container">
    <img onclick="location.href='/';" src="/images/tree2.png" id="treeimg" height="300">
  </div>
</div><br><br>
  <h2>Center an Image</h2>
  <p>Vår butik värnar om miljö och produktsvinn</p>

<!-- Footer -->
<footer class="container-fluid text-center">
  <p>Bli en återvinnare!</p>
  <form class="form-inline">Anmäl dig till vårt nyhetsbrev:
    <input type="email" class="form-control" size="50" placeholder="Mejladress">
    <button type="button" class="btn btn-danger" id="footerbtn" >Skicka</button>
  </form>
</footer>

<script src="/shoppingcart.js"></script>

</body>
</html>
