<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Kontakta oss</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>

<!-- Modal - Message sent notification -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"> Ditt meddelande har skickats. </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Tack för ditt meddelande!
        Vi återkommer inom 2 vardagar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="location.href='/AboutUs/contact'"> Nytt meddelande</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/'"> Fortsätt shoppa! </button>
      </div>
    </div>
  </div>
</div>

<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>

<span class="logintxt">Inloggad som:<span th:text="${session?.siteuser?.username} ?: ' (Inte inloggad)'"></span></span>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logga-liten-ljus.svg" id="navbarlogo" onclick="location.href='/'">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder & Skor<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Clothes/allClothes">Allt inom Kläder & Skor</a></li>
            <li><a href="/Clothes/Women">Damkläder & Skor</a></li>
            <li><a href="/Clothes/Men">Herrkläder & Skor</a></li>
            <li><a href="/Clothes/Children">Barnkläder & Skor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hemmet<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Home/allHome">Allt för Hemmet</a></li>
            <li><a href="/Home/homeDecor">Inredning</a></li>
            <li><a href="/Home/electronics">Hemelektronik</a></li>
            <li><a href="/Home/kitchenSupplies">Husgeråd</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Books/allBooks">Alla Böcker</a></li>
            <li><a href="/Books/childrensBooks">Barnböcker</a></li>
            <li><a href="/Books/non-fiction">Facklitteratur</a></li>
            <li><a href="/Books/fiction">Skönlitteratur</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby & Fritid<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Hobby/allHobbies">Allt inom Hobby & Fritid</a></li>
            <li><a href="/Hobby/hobbiesAndGames">Hobby & Spel</a></li>
            <li><a href="/Hobby/moviesAndMusic">Film & Musik</a></li>
            <li><a href="/Hobby/sport">Sport & Fritid </a></li>
            <li><a href="/Hobby/toys">Leksaker</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/AboutUs/AboutUs">Vår vision</a></li>
            <li><a href="/AboutUs/contact">Kontakta oss</a></li>
            <li><a href="/AboutUs/faq">Vanliga frågor</a></li>
          </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li id="navbar-cart-duo">
          <a><span id="cartsum" class="productsummation productcounter">0</span></a>
          <a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header"><h1>Kontakta oss</h1></div>

<div class="contact-us-text">

  <h4> Undrar du över något? Då har du kommit rätt!</h4><br>
  <p> Du kan börja med att kika på våra <a href="/AboutUs/faq">vanliga frågor och svar</a>.</p><br>
  <p> Hittar du ändå inte det du söker? Kontakta oss gärna via formuläret nedan.</p>
  <p> Vi återkommer till dig inom 2 vardagar, via e-postadressen du anger.</p><br>

</div>

<!-- Contact form -->
<div class="container-contactform">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well well-sm" id="contactform">
        <form class="form-horizontal" action="" method="post">
          <fieldset>
            <legend class="text-center">Fyll i formuläret, så hjälper vi dig!</legend>

            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Ditt namn</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="Namn Namnsson" class="form-control">
              </div>
            </div>

            <!-- Subject input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Ditt ärende</label>
              <div class="col-md-9">
                <select name="subject" id="subject">
                  <option value="">Hur kan vi hjälpa dig?</option>
                  <option value="Kundtjänst"> Kundtjänst </option>
                  <option value="Skicka in varor"> Skicka in varor </option>
                  <option value="Retur eller reklamation"> Retur eller reklamation </option>
                  <option value="Annat"> Annat </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-3 control-label" for="email">Din e-postadress</label>
              <div class="col-md-9">
                <input id="email" name="email" type="text" placeholder="namn@mail.com" class="form-control">
              </div>
            </div>

            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="message">Ditt meddelande</label>
              <div class="col-md-9">
                <textarea class="form-control" id="message" name="message" placeholder="Skriv in ditt meddelande här..." rows="5"></textarea>
              </div>
            </div>

            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Skicka</button>
 <!--               <button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModal">Skicka</button>
-->
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="test2"></div>
<div id="test">
</div>

<footer class="container-fluid text-center">
  <p>Bli en återvinnare!</p>
  <form class="form-inline">Anmäl dig till vårt nyhetsbrev:
    <input type="email" class="form-control" size="50" placeholder="Mejladress">
    <button type="button" class="btn btn-danger" id="footerbtn" >Skicka</button>
  </form>
</footer>

<script src="/shoppingcart.js"></script>

</body>
</html>
