<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Checkout</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <title>Checkout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
/***** Styling for checkout form *****/

h3 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
}

  .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-form {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid #257D5E;
  border-radius: 3px;
  margin-left: 50px;
  margin-right: 50px;
}


}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}



  </style>
</head>
<body>
<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Nyinkommet</a></li>
            <li><a href="#">Sommarkläder</a></li>
            <li><a href="#">Rabatterade varor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hem & inredning<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Möbler</a></li>
            <li><a href="#">Akvarium</a></li>
            <li><a href="#">Tavlor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Astrid Lindgrens Kollektion</a></li>
            <li><a href="#">Antika Grekland</a></li>
            <li><a href="#">Sci-Fi</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Frimärke</a></li>
            <li><a href="#">Friluft</a></li>
            <li><a href="#">Test</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vintage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">1920-1950</a></li>
            <li><a href="#">1950-1970</a></li>
            <li><a href="#">1970-2000</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Vision</a></li>
            <li><a href="#">Historia</a></li>
            <li><a href="#">Vet ej</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><span id="cartsum">0</span></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Checkout form -->

<div class="row">
  <div class="col-25">
    <div class="container-form">
      <h4>Dina varor
        <span class="price" style="color:black">
          <i class="fa fa-shopping-cart"></i>
          <b>4</b>
        </span>
      </h4>
      <p><a href="#">Product 1</a> <span class="price">200 kr</span></p>
      <p><a href="#">Product 2</a> <span class="price">99 kr</span></p>
      <p><a href="#">Product 3</a> <span class="price">149 kr</span></p>
      <p><a href="#">Product 4</a> <span class="price">25 kr</span></p>
      <hr>
      <p>Totalsumma <span class="price" style="color:black"><b>473 kr</b></span></p>
    </div>
  </div>

  <div class="col-75">
    <div class="container-form">
      <form action="/action_page.php">

        <div class="row">
          <div class="col-50">
            <h3>Leveransadress</h3>
            <label for="fname"><i class="fa fa-user"></i> För- och efternamn</label>
            <input type="text" id="fname" name="firstname" placeholder="Namn Namnsson">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="namn@mail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Adress</label>
            <input type="text" id="adr" name="address" placeholder="Storgatan 15A">

            <div class="row">
              <div class="col-50">
                <label for="postnum">Postnummer</label>
                <input type="text" id="postnum" name="postnum" placeholder="12345">
              </div>
              <div class="col-50">
                <label for="ort">Ort</label>
                <input type="text" id="ort" name="ort" placeholder="Staden">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Betalning</h3>
            <label for="cname">Namn på betalkort</label>
            <input type="text" id="cname" name="cardname" placeholder="Namn Namnsson">
            <label for="ccnum">Kortnummer</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Giltighetstid månad</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="MM">

            <div class="row">
              <div class="col-50">
                <label for="expyear">Giltighetstid år </label>
                <input type="text" id="expyear" name="expyear" placeholder="YY">
              </div>
              <div class="col-50">
                <label for="cvc">CVC</label>
                <input type="text" id="cvc" name="cvc" placeholder="352">
              </div>
            </div>
          </div>

        </div>
        <input type="submit" value="Bekräfta köp" class="btn" style="background-color:#257D5E">
      </form>
    </div>
  </div>


</div>


<!-- Footer -->
<footer class="container-fluid text-center">
  <p>Bli en återvinnare!</p>
  <form class="form-inline">Anmäl dig till vårt nyhetsbrev:
    <input type="email" class="form-control" size="50" placeholder="Mejladress">
    <button type="button" class="btn btn-danger" id="footerbtn" >Skicka</button>
  </form>
</footer>

</body>
</html>
