<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Checkout</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
</head>
<body>
<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logga-liten-ljus.svg" id="navbarlogo" onclick="location.href='/'">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder & Skor <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Clothes/allClothes">Allt inom Kläder & Skor</a></li>
            <li><a href="/Clothes/Women">Dam</a></li>
            <li><a href="/Clothes/Men">Herr</a></li>
            <li><a href="/Clothes/Children">Barn</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hemmet<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Home/allHome">Allt för Hemmet</a></li>
            <li><a href="/Home/homeDecor">Inredning</a></li>
            <li><a href="/Home/electronics">Hemelektronik</a></li>
            <li><a href="Home/kitchenSupplies">Husgeråd</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Books/allBooks">Alla Böcker</a></li>
            <li><a href="/Books/childrensBooks">Barnböcker</a></li>
            <li><a href="/Books/non-fiction">Facklitteratur</a></li>
            <li><a href="/Books/fiction">Skönlitteratur</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby & Fritid <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Hobby/allHobbies">Allt inom Hobby & Fritid</a></li>
            <li><a href="/Hobby/hobbiesAndGames">Hobby & Spel</a></li>
            <li><a href="/Hobby/moviesAndMusic">Film & Musik</a></li>
            <li><a href="/Hobby/sport">Sport & Fritid </a></li>
            <li><a href="/Hobby/toys">Leksaker</a></li>
          </ul>

        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/AboutUs/AboutUs">Vår vision</a></li>
            <li><a href="/AboutUs/contact">Kontakta oss</a></li>
            <li><a href="/AboutUs/faq">Vanliga frågor</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li><a><span id="cartsum" class="productsummation productcounter">0</span></a></li>
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Checkout form -->

<div class="checkout-row">
  <div class="col-25">
    <div class="container-form">
      <h4>Dina varor
        <span class="price" id="checkout-prodamount">
          <i class="fa fa-shopping-cart"></i>
          <b><span class="productsummation">0</span></b>
        </span>
      </h4>
      <div class="listofproducts">
      </div>
      <hr>
      <label for="discount">Lägg till rabattkod: <input type="text" id="discount" name="discount" placeholder=""></label>

      <hr>
      <p>Totalsumma <span class="price" style="color:black"><b><span class="pricesummation">473 kr</span></b></span></p>
    </div>
  </div>


  <div class="col-75">
    <div class="container-form">
      <form action="/action_page.php">

        <div class="checkout-row">
          <div class="col-50">
            <h3>Leveransadress</h3>
            <label for="fname"><i class="fa fa-user"></i> För- och efternamn</label>
            <input type="text" id="fname" name="firstname" placeholder="Namn Namnsson">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="namn@mail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Adress</label>
            <input type="text" id="adr" name="address" placeholder="Storgatan 15A">

            <div class="checkout-row">
              <div class="col-50">
                <label for="postnum">Postnummer</label>
                <input type="text" id="postnum" name="postnum" placeholder="12345">
              </div>
              <div class="col-50">
                <label for="ort">Ort</label>
                <input type="text" id="ort" name="ort" placeholder="Staden">
              </div>
            </div>
          </div>

          <div class="col-50">
            <h3>Betalning</h3>
            <label for="cname">Namn på betalkort</label>
            <input type="text" id="cname" name="cardname" placeholder="Namn Namnsson">
            <label for="ccnum">Kortnummer</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
             <label for="expmonth">Giltighetstid månad</label>
            <input type="text" id="expmonth" name="expmonth" placeholder="MM">

            <div class="checkout-row">
              <div class="col-50">
                <label for="expyear">Giltighetstid år </label>
                <input type="text" id="expyear" name="expyear" placeholder="YY">
              </div>
              <div class="col-50">
                <label for="cvc">CVC</label>
                <input type="text" id="cvc" name="cvc" placeholder="352">
              </div>
            </div>
          </div>


        </div>
        <input type="submit" value="Bekräfta köp" class="btn" >
      </form>
    </div>
  </div>


</div>


<!-- Footer -->
<footer class="container-fluid text-center">
  <p>Bli en återvinnare!</p>
  <form class="form-inline">Anmäl dig till vårt nyhetsbrev:
    <input type="email" class="form-control" size="50" placeholder="Mejladress">
    <button type="button" class="btn btn-danger" id="footerbtn" >Skicka</button>
  </form>
</footer>

<script src="/shoppingcart.js"></script>

</body>
</html>
