<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }

    /* Remove the jumbotron's default bottom margin */
     .jumbotron {
      margin-bottom: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Varan tillagd i varukorgen!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<body style="background-color:azure;">

<div class="jumbotron" style="background-color:seashell">
  <div class="container text-center" style="color:black">
    <h1><b>Loppisshoppis </b></h1>
    <p><i>Personligt - miljövänligt - prisvärt</i></p>
  </div>
</div>

<div class="collapse navbar-collapse" id="myNavbar">
  <ul class="nav navbar-nav">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Nyinkommet</a></li>
        <li><a href="#">Sommarkläder</a></li>
        <li><a href="#">Rabatterade varor</a></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hem & inredning<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Möbler</a></li>
        <li><a href="#">Akvarium</a></li>
        <li><a href="#">Tavlor</a></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Astrid Lindgrens Kollektion</a></li>
        <li><a href="#">Antika Grekland</a></li>
        <li><a href="#">Sci-Fi</a></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Frimärke</a></li>
        <li><a href="#">Friluft</a></li>
        <li><a href="#">Test</a></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vintage <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">1920-1950</a></li>
        <li><a href="#">1950-1970</a></li>
        <li><a href="#">1970-2000</a></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">Vision</a></li>
        <li><a href="#">Historia</a></li>
        <li><a href="#">Vet ej</a></li>
      </ul>
  </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Produktbild + beskrivning -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img th:src="${product.image}" class="img-responsive" style="width:100%" alt="Image"></div>
    <div class="col-md-6">

      <h2><th th:text="${product.name}"></th></h2>
      <h3><th th:text="${product.price} + ' kr'"></th></h3>
      <h4><th th:text="${product.description}"></th></h4>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Köp
      </button>

      <div class="purchaseinfo">
        <br>
        &#x2611; Skickas inom 2-3 dagar &ensp;
        &#x2611; Fri frakt över 299 kr &ensp;
        &#x2611; Miljövänligt &ensp;
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Online Store Copyright</p>
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form>
</footer>

</body>
</html>
