<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Bootstrap Example</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Varan tillagd i varukorgen!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>

<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logga-liten-ljus.svg" id="navbarlogo" onclick="location.href='/'">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Clothes/NewItems">Nyinkommet</a></li>
            <li><a href="/Clothes/SummerClothes">Sommarkläder</a></li>
            <li><a href="/Clothes/DiscountItems">Rabatterade varor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hem & inredning<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Home&style/Furniture">Möbler</a></li>
            <li><a href="/Home&style/Aquarium">Akvarium</a></li>
            <li><a href="/Home&style/Paintings">Tavlor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Books/AstridLindgrenCollection">Astrid Lindgrens Kollektion</a></li>
            <li><a href="/Books/AnticGreece">Antika Grekland</a></li>
            <li><a href="/Books/Sci-Fi">Sci-Fi</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Hobby/Stamp">Frimärke</a></li>
            <li><a href="/Hobby/OpenAir">Friluft</a></li>
            <li><a href="/Hobby/Movie">Filmer</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Vintage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Vintage/1920">1920-1950</a></li>
            <li><a href="/Vintage/1950">1950-1970</a></li>
            <li><a href="/Vintage/1970">1970-2000</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/AboutUs/AboutUs">Vision</a></li>
            <li><a href="/AboutUs/History">Historia</a></li>
            <li><a href="/AboutUs/MoreAboutUs">Mer om oss</a></li>
          </ul>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li><span id="cartsum" class="productsummation productcounter">0</span></li>
        <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="productlisting" th:each="product : ${products}">
      <div class="col-sm-4" th:if="${product.category =='Aquarium'}">
        <div class="panel panel-primary stretched-link" id="productpanel">
          <div class="panel-heading" th:text="${product.category}" href="'/product/' + ${product.id}"></div>
          <div class="panel-body">
            <img th:src="${product.image}" class="img-responsive" alt="Image" id="productimg">
          </div>
          <div class="panel-footer" th:text="'Pris: ' + ${product.price} + ' kr'"></div>
          <a class="btn btn-primary " th:href="'/product/' + ${product.id}" >Mer info</a>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:onclick="addProduct([[${product.id}]],[[${product.name}]],[[${product.price}]])">
            Köp
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<div id="test2"></div>
<div id="test">
</div>

<footer class="container-fluid text-center">
  <p>Bli en återvinnare!</p>
  <form class="form-inline">Anmäl dig till vårt nyhetsbrev:
    <input type="email" class="form-control" size="50" placeholder="Mejladress">
    <button type="button" class="btn btn-danger" id="footerbtn" >Skicka</button>
  </form>
</footer>

</body>
</html>
