<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Allt inom Kläder & Skor</title>
  <link rel="icon" type="image/x-icon" href="/images/logga-liten-ljus.svg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>

  </style>
</head>
<body>

<!-- Modal: Cart notification -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"> En vara har lagts till i varukorgen: </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Använd klassen cartsummation för en summering och cartlist för en utförlig lista -->
      <div class="modal-body cartsummation">
        <ul>
          <li> Detta behöver uppdateras med en lista av varor </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fortsätt shoppa</button>
        <button type="button" class="btn btn-primary" onclick="location.href='/cart'">Gå till varukorgen</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Newsletter Signup notification -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog" aria-labelledby="newsletterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="newsletterModalLabel"> Grattis! Du prenumererar nu på ShoppisLoppis nyhetsbrev! </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="newsletterSignup">
        <ul>
          Vårt nyhetsbrev skickas ut till dig i början av varje månad.<br>
          Håll utkik i inkorgen för den e-postadress du angav!
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fortsätt shoppa</button>
      </div>
    </div>
  </div>
</div>

<!-- Header with logo -->
<div class="jumbotron">
  <div class="container text-center">
    <img onclick="location.href='/';" src="/images/loppisshoppis3.png" height="300">
  </div>
</div>


<!-- Navbar -->
<nav class="navbar navbar-inverse">
  <span class="loginstatus">Inloggad som:<span th:text="${session?.siteuser?.username} ?: ' (Inte inloggad)'"></span></span>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/images/logga-liten-ljus.svg" id="navbarlogo" onclick="location.href='/'">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kläder & Skor<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Clothes/allClothes">Allt inom Kläder & Skor</a></li>
            <li><a href="/Clothes/Women">Damkläder & Skor</a></li>
            <li><a href="/Clothes/Men">Herrkläder & Skor</a></li>
            <li><a href="/Clothes/Children">Barnkläder & Skor</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hemmet<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Home/allHome">Allt för Hemmet</a></li>
            <li><a href="/Home/homeDecor">Inredning</a></li>
            <li><a href="/Home/electronics">Hemelektronik</a></li>
            <li><a href="/Home/kitchenSupplies">Husgeråd</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Böcker<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Books/allBooks">Alla Böcker</a></li>
            <li><a href="/Books/childrensBooks">Barnböcker</a></li>
            <li><a href="/Books/non-fiction">Facklitteratur</a></li>
            <li><a href="/Books/fiction">Skönlitteratur</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hobby & Fritid<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/Hobby/allHobbies">Allt inom Hobby & Fritid</a></li>
            <li><a href="/Hobby/hobbiesAndGames">Hobby & Spel</a></li>
            <li><a href="/Hobby/moviesAndMusic">Film & Musik</a></li>
            <li><a href="/Hobby/sport">Sport & Fritid </a></li>
            <li><a href="/Hobby/toys">Leksaker</a></li>
          </ul>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Om oss <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/AboutUs/AboutUs">Vår vision</a></li>
            <li><a href="/AboutUs/contact">Kontakta oss</a></li>
            <li><a href="/AboutUs/faq">Vanliga frågor</a></li>
          </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Mitt konto</a></li>
        <li id="navbar-cart-duo">
          <a><span id="cartsum" class="productsummation productcounter">0</span></a>
          <a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Varukorg</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header"><h1>Allt inom Kläder & Skor</h1></div>

<div class="container">
  <div class="row">
    <div class="productlisting" th:each="product : ${products}">
      <div class="col-sm-4" th:if="${product.category =='Barn' OR product.category == 'Dam' OR product.category == 'Herr'}">
        <div class="panel panel-primary stretched-link" id="productpanel">
          <div class="panel-heading" th:text="${product.name}" th:onclick="'location.href=\'/product/' + ${product.id} + '\''"></div>
          <div class="panel-body">
            <img th:src="${product.image}" class="img-responsive" alt="Image" id="productimg"
                 th:onclick="'location.href=\'/product/' + ${product.id} + '\''">
          </div>
          <div class="panel-footer" th:text="'Pris: ' + ${product.price} + ' kr'"></div>
          <a class="btn btn-primary " th:href="'/product/' + ${product.id}" >Mer info</a>

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" th:onclick="addProduct([[${product.id}]],[[${product.name}]],[[${product.price}]])">
            Köp
          </button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
<div id="test2"></div>
<div id="test">
</div>

<!-- Footer -->
<footer>
  <div class="footeritems">
    <div class="footerlinks">
      <h5>Om oss: </h5>
      <ul>
        <li><a href="/AboutUs/AboutUs">Vår vision</a></li>
        <li><a href="/AboutUs/contact">Kontakta oss</a></li>
        <li><a href="/AboutUs/faq">Vanliga frågor</a></li>
      </ul>
    </div>
    <div class="container-fluid text-center">
      <p>Bli en återvinnare! <br> Anmäl dig till vårt nyhetsbrev: </p>
      <form class="form-inline"><input type="email" class="form-control" size="50" placeholder="E-postadress">
        <button type="button" class="btn btn-danger" id="footerbtn" data-toggle="modal" data-target="#newsletterModal">Skicka</button>
      </form>
    </div>
    <div class="footer-right">
      <img src="/images/logga-liten-ljus.svg" id="footerlogo" onclick="location.href='/'">
      <br>
      <a href="/">© LoppisShoppis</a>
    </div>
  </div>
</footer>

<script src="/shoppingcart.js"></script>

</body>
</html>
